/* This file is for your main application css. */
.mills {
  display: flex;
  flex-wrap: wrap;
  margin: : 10px;
}

.millOff {
 background-image: url("/images/mill_still.gif");
 margin: 10px;
 border-radius: 5px;
}

.millOn {
 background-image: url("/images/mill.gif");
 margin: 10px;
 border-radius: 5px;
}

.mill .name {
  margin: 10px;
}

.mill .mill_type {
  margin: 10px;
}
.mill .io_pin {
  margin: 10px;
}
